/*The general Stylesheets that is used everywere for header, footer, body printing, textfont*/
:root {
    --accent_color: #FFD015;
    --accent_color_hover: #eac11b;
    --text_colore: #0c1f29;
    --backgroundcolor: #242424;
    --selectionColor: rgba(0, 0, 0, 0.068);
    --headerBackgroundcolor: rgba(255, 255, 255, 0.959);
    --footerBackgroundcolor: white;
    --font-family: "Poppins", sans-serif;
}

/*general look and feel*/
* {
    font-family: var(--font-family);
    color: var(--text_colore);
    overflow-x: hidden;
}

::selection {
    background: var(--selectionColor);
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: 450;
}


/*body framework*/
body {
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#outercontainer {
    min-height: 100%;
    background-color: var(--backgroundcolor);
}

#contentdiv {
    display: grid;
}

/*header*/
header {
    position: sticky;
    top: 0;
    background-color: var(--headerBackgroundcolor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .8%;
    padding-right: 1%;
    padding-left: 1%;
    z-index: 98;
}

/*logo*/
#header_logo_div {
    display: flex;
}

#header_logo_titel {
    font-size: 1.5rem;
    font-weight: bold;

}

/*links*/
#header_links_div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header_link {
    font-weight: 600;
}

.header_link:hover {
    font-weight: 650;
}

#header_link_login_button {
    width: 5rem;
    height: 2rem;
    background-color: var(--accent_color);
    border-radius: 0.5rem;
    border-color: transparent;
}

#header_link_login_button:hover {
    background-color: var(--accent_color_hover);
}

#header_link_account{
    width: 32px;
    height: 32px;
    padding-top: 2.5px;
    background-image: url("../../resources/images/general/profile_picture_blank.png");
    background-size:contain;
    border-color: transparent;
    border-radius: 60000rem;
}
#header_link_account:hover{
    border-color: #24242459;
    border-style: solid;
}
#header_link_upload_button{
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: #24242459;
    border-style: solid;
}
#header_link_upload_button:hover{
    background-color: rgba(0, 0, 0, 0.048);
}

/*hamburger menu*/
:root{
    --bar-widh: 3rem;
    --bar-height: .4rem;
    --hamburger-gap: .4rem;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --x-width: calc(var(--hamburger-height) * 1.414213562);
}

.hamburger_menu_button{
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    cursor: pointer;
}

.hamburger_menu_button::before, .hamburger_menu_button::after, .hamburger_menu_button input{
    content: "";
    width: var(--bar-widh);
    height: var(--bar-height);
    background-color: var(--text_colore);
    border-radius: 9999px;
    transform-origin: right center;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate  200ms ease-in-out, translate  200ms ease-in-out;
}

.hamburger_menu_button input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger_menu_button:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/ -2);
} 

.hamburger_menu_button:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/ 2);
} 

#hamburger_menu{
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    gap: 1rem;
    top: calc((.8%)*2 + var(--hamburger-height)) ;
    background-color: var(--headerBackgroundcolor);
    display: none;
}

.hamburger_menu_button:has(input:checked)+ .hamburger_menu {
    display: flex;
    color: white;
    flex-direction: column;
} 

.hamburger_menu_button input:checked{
    opacity: 0;
    width: 0;
}

#header_links_div_small{
    display: none;
}

#headerHaburgerLoginButton{
    background-color: var(--accent_color);
    font-size: 14;
    font-weight: 700;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border-color: transparent;
}

/*footer*/
footer {
    background-color: var(--footerBackgroundcolor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
}

/*Fotter Logo*/
#footer_logo_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer_logo {
    display: flex;
}

/*Fotter Links*/
#footer_links_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10rem;
}

.footer_links_header {
    font-weight: bold;
}

/*buttons*/
.primaryButton {
    background-color: var(--accent_color);
    font-size: 14;
    font-weight: 700;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border-color: transparent;
}

.primaryButton:hover {
    background-color: var(--accent_color_hover);
}

.secondaryButton {
    font-size: 14;
    background-color: transparent;
    border-color: #24242459;
    border-radius: 1px;
    font-size: large;
    font-weight: 700;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border-style: solid;
}

.secondaryButton:hover {
    background-color: rgba(0, 0, 0, 0.062);
}

@media screen and (max-width: 1100px) {
    #header_links_div_small{
        display: block;
    }
    #header_links_div {
        display: none;  
    }
}

@media screen and (max-width: 900px) {
    /*footer change*/
    footer{
        flex-direction: column;
        gap: 1.5rem;
    }
    #footer_links_div{
        display: flex;
        text-align: center;
        gap: 5rem;
    }
}



/*modal*/
input {
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-size: large;
    width: 97%;
    padding-right: 1px;
    background-color: transparent;
    border-color: #24242459;
    border-style: solid;
}
input[type="file"] {
    border-color: transparent;
}
select{
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-size: large;
    width: 97%;
    padding-right: 1px;
    background-color: transparent;
    border-color: #24242459;
    border-style: solid;
}

#loginButton {
    width: 25rem;
}

.modalTitel {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-top: 3rem;
    gap: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}
#account_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#OpenImgUpload{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 10000px;
    border-color: transparent;
    background-image: url("../../resources/images/general/profile_picture_blank.png");
    background-size: cover;
    margin-left: 2rem;
}
#OpenImgUpload:hover{
    border-color: #24242459;
    border-style: solid;
}
#Account_Name{
    font-weight: 600;
}
#Account_Name_div{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
#accountModallogoutButton{
    margin-top: 1rem;
    font-size: medium;
}
#accountModalDelButton{
    font-size: medium;
    border-color: red;
}
#accountModalDelButton2{
    font-size: medium;
    border-color: red;
    width: 150px;
}
#accountModalNameButton{
    font-size: medium;
    border-color: transparent;
    width: 150px;
}
#accountModalDelCancelButton{
    font-size: medium;
    width: 150px;
}


.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000077;
    pointer-events: none;
    transition: 200ms ease-in-out;
    opacity: 0;
    z-index: 99;
}

#overlay.active {
    background-color: #00000077;
    opacity: 1;
    pointer-events: all;
}

#loginErrorMassage {
    font-weight: 600;
    color: red;
}

#registerErrorMassage {
    font-weight: 600;
    color: red;
}

#closeModal{
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    top: 0rem;
    right: 1rem;
    position: fixed;
}

.avatar{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {  
    .modal {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 96vw;
        height: 100vh;
        transform: translate(0,0) scale(0);
        padding: 1rem;
    }
    
    .modal.active {
        transform: translate(0 ,0 ) scale(1);
    }

    input {
        margin-left: .5rem;
    }
}