:root {
    --accent_color: #FFD015;
    --text_color: #0c1f29;
    --backgroundcolor: #242424;
}

/*start*/
#start {
    background-image: url('../images/landingPage/start.jpg');
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.527);

    background-size: cover;
    height: 55rem;
    text-align: center;
    display: grid;
}

#startTitel {
    font-size: 6rem;
    padding-top: 20rem;
    font-weight: 620;
}

#startSubTitel {
    font-size: 2rem;
    font-weight: normal;
}

#startButtons {
    padding-top: 2.6rem;
}

#startButtonPri {
    font-size: 1.3rem;
    font-weight: 500;
    padding: .8rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-right: 1rem;
}

#startButtonSec {
    font-size: 1.3rem;
    font-weight: 500;
    padding: .8rem;
    padding-left: 11rem;
    padding-right: 11rem;
}

/*Our Vision*/
#ourVision {
    background-color: white;
    padding: 3rem;
    padding-left: 6rem;
    padding-right: 10rem;
    display: flex;
}

#ourVisionImg {
    width: 40%;
    border-radius: 30px;
}

#ourVisionTexDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}

#ourVisionTexTitel {
    font-size: 3rem;
    font-weight: 600;
    color: var(--accent_color);
}

#ourVisionTex {
    font-size: 2rem;
}

/*Getting Startet*/
#gettingStarted {
    display: flex;
}

#gettingStartedLeft {
    width: 50%;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#gettingStartedLeftTitel {
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

#gettingStartedLeftContent {
    color: rgba(255, 255, 255, 0.562);
}

#gettingStartedRight {
    width: 50%;
    padding: 7rem;
    padding-left: 10rem;
    text-align: left;
    background-color: #323238;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10rem;
}

#gettingStartedRightUpDown{
    display: flex;
    gap: 10vw;
}

#gettingStartedRightTitel {
    color: white;
    font-size: larger;
    font-weight: 500;
}

#gettingStartedRightSubtitel {
    font-weight: 200;
    color: white;
}

/*fetures*/
#features {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#featuresTitle {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    color: white;
    padding: 1rem;
    padding-left: 4rem;
}

#featuresTitleSec {
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: bold;
    color: rgb(161, 161, 161);
}

#featuresDivs {
    display: flex;
    justify-content: space-evenly;
}

#featuresDiv {
    width: 30%;
    height: auto;
    border-radius: 30px;
}

/*signUp*/
#signUp {
    display: flex;
}

#signUpRight {
    padding-left: 10vw;
    padding-top: 20rem;
}

#signUpRightTitel {
    font-size: 3.8rem;
    font-weight: 550;
    color: white;
}

#signUpRightSubtitel {
    font-size: 1.5rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.575);
}

#signUpButtonPri {
    font-size: 1.3rem;
    font-weight: 500;
    padding: .8rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-right: 1rem;
    margin-top: 2rem;    
}

/*modal*/
input {
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-size: large;
    width: 97%;
}

#loginButton {
    width: 25rem;
}

.modalTitel {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-top: 3rem;
    gap: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000077;
    pointer-events: none;
    transition: 200ms ease-in-out;
    opacity: 0;
}

#overlay.active {
    background-color: #00000077;
    opacity: 1;
    pointer-events: all;
}

#loginErrorMassage {
    font-weight: 600;
    color: red;
}

#registerErrorMassage {
    font-weight: 600;
    color: red;
}

@media screen and (max-width: 1300px) {
    #signUpRight {
        padding-left: 5vw;
        padding-top: 20%;
    }
    #signUpRightTitel {
        font-size: 3rem;
        font-weight: 550;
        color: white;
    }

    #signUpButtonPri {
        font-size: 1.3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media screen and (max-width: 1100px) {

    
    #featuresDivs {
        flex-direction: column;
        margin-top: 2rem;
        gap: 2rem;
    }

    #featuresDiv {
        width: 70%;
        margin-left: 15%;
    }

    #signUp {
        display: block;
        width: 100%;
    }

    #signUpLeft {
        display: none;
    }

    #signUpRight {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/landingPage/signUp.jpg");
        background-size: cover;
        padding-top: 3rem;
        padding-bottom: 10rem;
        text-align: center;
        padding-bottom: 20rem;
        width: 100%;
    }
}